{{!-- Intro to the page --}}
<div class="container center-align">
    <h3>Mongo-News</h3>
    <p>Simple site that takes articles from the web,</p>
    <p>displays them and allows anonymous comments to be placed here.</p>
    <div class="tenor-gif-embed" data-postid="12705246" data-share-method="host" data-width="50%" data-aspect-ratio="1.5045317220543806"><a href="https://tenor.com/view/breaking-news-gif-12705246">Breaking News GIF</a> from <a href="https://tenor.com/search/breaking-gifs">Breaking GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>