{{!-- Card based page --}}
<div class="container">
    <div class="row">
        {{#if topics}}
            {{#each topics}}
                {{> topic-list}}
            {{/each}}
        {{else}}
            <button class="btn waves-light waves-effect" href="/home">Click me to get some topics</button>
        {{/if}}
    </div>
</div>